*.py[co]
*~
.DS_Store
_cache/
.cache/
.vagrant/
.coverage
/cover/
/htmlcov/
/build/
/dist/
*.egg-info
.tox
tags
/target/
tmp
cookies.txt

# Downloaded files
/Downloads/
/*.json

# virtualenv folders
venv2
venv3
.idea
.python-version
.ipynb_checkpoints
.ropeproject
.mypy_cache
